/* @@author wayneong95 */

.background {
    -fx-background-color: white;
    background-color: white;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: white;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-table-cell-border-color: #dddddd;
    -fx-table-header-border-color: #dddddd;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: white;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: white;
    -fx-border-color:
        #dddddd
        #dddddd
        #dddddd
        #dddddd;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: white;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: white;
    -fx-border-color: #dddddd #dddddd #dddddd #dddddd;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: white;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: white;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: white;
}

.list-cell:filled:odd {
    -fx-background-color: white;
}

.list-cell:filled:selected {
    -fx-background-color: #eaedf2;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3e7b91;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.anchor-pane {
     -fx-background-color: white;
}

.pane-with-border {
     -fx-background-color: white;
     -fx-border-color: #dddddd #dddddd #dddddd #dddddd;
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.result-display {
    -fx-background-color: white;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
}

.status-bar-with-border {
    -fx-background-color: white;
    -fx-border-color: #dddddd;
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: black;
}

.grid-pane {
    -fx-background-color: white;
    -fx-border-color: #dddddd;
    -fx-border-width: 1px;
}

.grid-pane .anchor-pane {
    -fx-background-color: white;
}

.context-menu {
    -fx-background-color: white;
}

.context-menu .label {
    -fx-text-fill: black;
}

.menu-bar {
    -fx-background-color: white;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.menu .left-container {
    -fx-background-color: white;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-style: null;
    -fx-background-radius: 0;

    -fx-background-color: #cccccc;

    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: black;
}

.button:hover{
    -fx-background-color: #d8d8d8;
}

.button:pressed, .button:default:hover:pressed
{
  -fx-background-color: black;
  -fx-text-fill: white;
}

.button:focused
{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-style: segments(1, 1);
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:disabled, .button:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}

.button:default
{
    -fx-background-color: #008287;
    -fx-text-fill: #ffffff;
}

.button:default:hover{
    -fx-background-color: #219297;
}

.dialog-pane {
    -fx-background-color: white;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: white;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: white;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: white;
}

.scroll-bar .thumb {
    -fx-background-color: #bbbbbb;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}
/* @@author wenhao53 */

#cardPane {
}

.ACCEPTABLE {
    -fx-background-color: #ddffdd;
    -fx-border-color: derive(#ddffdd, -30%);
    -fx-border-width: 2;
    -fx-padding: 2 3 2 3;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.OBESE {
    -fx-background-color: #ffdddd;
    -fx-border-color: derive(#ffdddd, -30%);
    -fx-border-width: 2;
    -fx-padding: 2 3 2 3;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.OVERWEIGHT {
    -fx-background-color: #ffffdd;
    -fx-border-color: derive(#ffffdd, -30%);
    -fx-border-width: 2;
    -fx-padding: 2 3 2 3;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.UNDERWEIGHT {
    -fx-background-color: #ffffdd;
    -fx-border-color: derive(#ffffdd, -30%);
    -fx-border-width: 2;
    -fx-padding: 2 3 2 3;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

/* @@author */

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: black;
}

#commandTextField {
    -fx-background-color: transparent #383838 transparent #383838;
    -fx-background-insets: 0;
    -fx-border-color: #dddddd #dddddd #dddddd #dddddd;
    -fx-border-insets: 0;
    -fx-border-width: 1;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, white, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: transparent, white, transparent, white;
    -fx-background-radius: 0;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7b91;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
